
        div.graph{
            height: 400px;
            width: 100%
        }
        div.sticky {
            position: -webkit-sticky; /* Safari */
            position: sticky;
            padding: 10px;
            top:0px;
            background-color: #eae7e6
        }
        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            border-radius: 4px;
        }
        .clickLabel {
            display: inline-block;
            height: 38px;
            padding: 0 30px;
            color: #555;
            text-align: center;
            font-size: 11px;
            font-weight: 600;
            line-height: 38px;
            letter-spacing: .1rem;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            border-radius: 4px;
            border: 1px solid #bbb;
            cursor: pointer;
            box-sizing: border-box;
        }
        .clickLabel.disable{
            background-color: 	#444;
        }
        input[type=checkbox]:checked + label.clickLabel{
            background-color: 	#eae7e6;
        }
        .selected{
            background-color: 	#eae7e6;
        }
        
        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            visibility: hidden;
            opacity: 0;
        }
        .overlay.show {
            visibility: visible;
            opacity: 1;
        }

        .popup {
            margin: 70px auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            width: 70%;
            position: relative;
            transition: all 5s ease-in-out;
        }

        .popup .close {
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }
        
        .popup .close:hover {
            color: #ddd0c9;
        }
        .popup .popupcontent {
            height:auto;
            max-height: 70vh;
            overflow: auto;
            border-radius: 5px;
        }
        .current {
            background-color: 	#ddd0c9
        }
        .current:hover {
            background-color:	#d0bcb0;
            transition: all 200ms
        }

        .nav-bar .ul li{
            display: inline
        }
        .nav-bar .ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #d0bcb0;
        }
        .nav-bar .ul li a {
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .slide-fade-enter-active {
            transition: all .1s ease;
        }
        .slide-fade-leave-active {
            transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .slide-fade-enter, .slide-fade-leave-to
            /* .slide-fade-leave-active for <2.1.8 */ {
            transform: translateX(10px);
            opacity: 0;
        }