<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Kiseki KR-Asia</title>
    <meta name="description" content="">
    <meta name="author" content="sagiri">

    <!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="https://github.com/kuroganechong/Kiseki"><img src="images/github.png" alt="github" style="width: 1.5em; height: auto"></a>
        <a href="guild.html">Kiseki</a>
        <a href="index.html">Gears Calculator</a>
        <a href="calc.html">Buffs Calculator</a>
        <a href="stat.html">Stat</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div id="app" class="hide">
            <div class="row">
                <div class="twelve column">
                    <h4>King's Raid - How many ATK/CDMG lines in the gear should I get?</h4>
                    <p>Given fixed buffs, find the optimum gear ATK/CDMG ratio.</p>
                    <button id="guidebtn" onclick="window.location.href = 'guide.html'">Guide</button>
                </div>
            </div>
            <div class="sticky">
                <div class="row" id="hero-container">
                    <div class="three columns">Hero<br>
                        <span>Hero description: <a v-bind:href="'https://maskofgoblin.com/hero/' + hero" target="_blank">LINK</a></span></div>
                    <div class="nine columns">
                    <span class="classIcon">
                        <span v-if="cl == 1"><img
                            src="images/20px-KnightsIcon.png" alt="Knight"></span>
                        <span v-if="cl == 2"><img
                            src="images/20px-WarriorsIcon.png" alt="Warrior"></span>
                        <span v-if="cl == 3"><img
                            src="images/20px-ArchersIcon.png" alt="Archer"></span>
                        <span v-if="cl == 4"><img
                            src="images/20px-AssassinsIcon.png" alt="Assassin"></span>
                        <span v-if="cl == 5"><img
                            src="images/20px-MechanicsIcon.png" alt="Mechanic"></span>
                        <span v-if="cl == 6"><img
                            src="images/20px-WizardsIcon.png" alt="Wizard"></span>
                        <span v-if="cl == 7"><img
                            src="images/20px-PriestsIcon.png" alt="Priest"></span>
                    </span>
                        <select class="heroSelection" id="hero" v-model="hero" v-on:change="reset">
                            <option v-for="(value, key) in heronames" v-bind:value="value">{{ key }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" id="tier-container">
                <div class="three columns">Gear tier (All gears at 5 stars)</div>
                <div class="nine columns">
                    <select class="" id="tier" v-model="tier">
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
            </div>
            <div class="row" id="uw-container">
                <div class="three columns">UW</div>
                <div class="five columns">
                    <label for="uw">Stars</label>
                    <select class="" id="uw" v-model="star">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="four columns">
                    <label>Runes</label>
                    ATK: <input id="uw_rune_1" type="number" v-model="uw_rune_1">% <br>
                    CDMG: <input id="uw_rune_2" type="number" v-model="uw_rune_2">%
                </div>
            </div>
            <hr>
            
            <button class="collapsible">Fill in your gear info</button>
            <div class="content" id="">
                <div class="row" id="armor-container">
                    <div class="three columns">Armor</div>
                    <div class="three columns">
                        <label for="armor_line">Desired No. of ATK/CDMG lines</label>
                        <select class="" id="armor_line" v-model="armor_line">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="three columns">
                        <label for="armor-enc">Enchant</label>
                        ATK: <input id="armor_enc_1" type="number" v-model="armor_enc_1">% <br>
                        CDMG: <input id="armor_enc_2" type="number" v-model="armor_enc_2">%
                    </div>
                    <div class="three columns">
                        <label for="armor_rune_1">Rune</label>
                        <select class="u-full-width" id="armor_rune_1" v-model="armor_rune_1">
                            <option value="-">-</option>
                            <option value="1">11% ATK</option>
                            <option value="2">22% CDMG</option>
                            <option value="3">40% CDMG</option>
                            <option value="4">30% CDMG</option>
                            <option value="others">others</option>
                        </select>
                        <select class="u-full-width" id="armor_rune_2" v-model="armor_rune_2">
                            <option value="-">-</option>
                            <option value="1">11% ATK</option>
                            <option value="2">22% CDMG</option>
                            <option value="3">40% CDMG</option>
                            <option value="4">30% CDMG</option>
                            <option value="others">others</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row" id="subarmor-container">
                    <div class="three columns">Subarmor</div>
                    <div class="three columns">
                        <label for="subarmor_line">Desired No. of ATK/CDMG lines</label>
                        <select class="" id="subarmor_line" v-model="subarmor_line">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="three columns">
                        <label>Enchant</label>
                        ATK: <input id="subarmor_enc_1" type="number" v-model="subarmor_enc_1">% <br>
                        CDMG: <input id="subarmor_enc_2" type="number" v-model="subarmor_enc_2">%
                    </div>
                    <div class="three columns">
                        <label for="subarmor_rune_1">Rune</label>
                        <select class="u-full-width" id="subarmor_rune_1" v-model="subarmor_rune_1">
                            <option value="-">-</option>
                            <option value="1">11% ATK</option>
                            <option value="2">22% CDMG</option>
                            <option value="others">others</option>
                        </select>
                        <select class="u-full-width" id="subarmor_rune_2" v-model="subarmor_rune_2">
                            <option value="-">-</option>
                            <option value="1">11% ATK</option>
                            <option value="2">22% CDMG</option>
                            <option value="others">others</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row" id="accessory-container">
                    <div class="three columns">
                        Accessory
                        <select class="u-full-width" id="ear" v-model="ear">
                            <option value="1">Earring</option>
                            <option value="2">Others</option>
                        </select>
                    </div>
                    <div class="three columns">
                        <label for="acc_line">Desired No. of ATK/CDMG lines</label>
                        <select class="" id="acc_line" v-model="acc_line">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="three columns">
                        <label>Enchant</label>
                        ATK: <input id="acc_enc_1" type="number" v-model="acc_enc_1">% <br>
                        CDMG: <input id="acc_enc_2" type="number" v-model="acc_enc_2">%
                    </div>
                    <div class="three columns">
                    </div>
                </div>
                <hr>
                <div class="row" id="orb-container">
                    <div class="three columns">Orb</div>
                    <div class="three columns">
                        <label for="orb_line">Desired No. of ATK/CDMG lines</label>
                        <select class="" id="orb_line" v-model="orb_line">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="three columns">
                        <label>Enchant</label>
                        ATK: <input id="orb_enc_1" type="number" v-model="orb_enc_1">% <br>
                        CDMG: <input id="orb_enc_2" type="number" v-model="orb_enc_2">%
                    </div>
                    <div class="three columns">
                    </div>
                </div>
                <hr>
                <div class="row" id="treasure-container">
                    <div class="three columns">
                        Treasure
                    </div>
                    <div class="three columns">
                        <label>Slot 1</label>
                        ATK: <input id="ut1_1" type="number" v-model="ut1_1">% <br>
                        CDMG: <input id="ut1_2" type="number" v-model="ut1_2">%
                    </div>
                    <div class="three columns">
                        <label>Slot 2</label>
                        ATK: <input id="ut2_1" type="number" v-model="ut2_1">% <br>
                        CDMG: <input id="ut2_2" type="number" v-model="ut2_2">%
                    </div>
                    <div class="three columns">
                        <label>Slot 3</label>
                        ATK: <input id="ut3_1" type="number" v-model="ut3_1">% <br>
                        CDMG: <input id="ut3_2" type="number" v-model="ut3_2">%
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" id="skill-container">
                <div class="three columns">
                    Skills/Perks/UW UT Effects <br><br>

                    Total skill ATK:
                    <code>
                        <transition name="slide-fade" mode="out-in">
                            <span :key="'skillatk' + Number(skillatk) + Number(perkatk)">{{ Number(skillatk) + Number(perkatk) }}%</span>
                        </transition>
                    </code>, <br>
                    Total skill CDMG:
                    <code>
                        <transition name="slide-fade" mode="out-in">
                            <span :key="'skillcdmg' + Number(skillcdmg) + Number(perkcdmg)">{{ Number(skillcdmg) + Number(perkcdmg) }}%</span>
                        </transition>
                    </code>, <br>
                    Total skill Flat ATK:
                    <code>
                        <transition name="slide-fade" mode="out-in">
                            <span :key="'skillfa' + skillfa">{{ (skillfa + wa3fa).toLocaleString('en', {useGrouping:true}) }}</span>
                        </transition>
                    </code>,
                    <br>
                    Total damage increase:
                    <code>
                        <transition name="slide-fade" mode="out-in">
                            <span :key="'skillT' + skillT">{{ (skillT) }}%</span>
                        </transition>
                    </code>
                </div>
                <div class="nine columns">
                    <!-- common -->
                    <label>T1 perks</label>
                    <input type="checkbox" id="t1" value="" v-model="perk1"><label class="clickLabel" for="t1"><img src="images/t1atk.jpg"
                            alt="ATK up"></label>
                    <input type="checkbox" id="t1_d" v-model="perk1_d"><label class="clickLabel" for="t1_d"><img src="images/t1mon.png"
                            alt="Monster Hunt"></label><br>
                    <label>T2 perks</label>
                    <input type="checkbox" id="me2" value="me2" v-model="perk2"><label class="clickLabel" for="me2"><img src="images/me2.png"
                            alt="Amplified Gunpower"></label><br>
                    <!-- warrior -->
                    <div v-if="cl == 2">
                        <input type="checkbox" id="wa1" value="wa1" v-model="perk2"><label class="clickLabel" for="wa1"><img
                                src="images/as2.jpg" alt="Opportune Strike"></label>
                        <input type="checkbox" id="wa2" value="wa2" v-model="perk2"><label class="clickLabel" for="wa2"><img
                                src="images/wa2.jpg" alt="Warlike"></label>
                        <input type="checkbox" id="wa3" value="wa3" v-model="perk2"><label class="clickLabel" for="wa3"><img
                                src="images/wa3.jpg" alt="Offensive Guard"></label><br>
                        <span v-if="perk2.includes('wa2')">Number of enemies: <input type="number" v-model="wa2"><br></span>
                        <span v-if="perk2.includes('wa3')">Stat menu PDEF: <input type="number" v-model="wa3base"><br></span>
                        <span v-if="perk2.includes('wa3')">PDEF% buff: <input type="number" v-model="wa3perc"><br></span>
                        <span v-if="perk2.includes('wa3')">Flat PDEF buff: <input type="number" v-model="wa3flat"><br></span>
                    </div>
                    <!-- assassin -->
                    <div v-if="cl == 4">
                        <input type="checkbox" id="as1" value="as1" v-model="perk2"><label class="clickLabel" for="as1"><img
                                src="images/as1.jpg" alt="Target Weakness"></label>
                        <input type="checkbox" id="as2" value="as2" v-model="perk2"><label class="clickLabel" for="as2"><img
                                src="images/as2.jpg" alt="Opportune Strike"></label>
                        <input type="checkbox" id="as3" value="as3" v-model="perk2"><label class="clickLabel" for="as3"><img
                                src="images/as3.png" alt="Vital Detection"></label><br><br>
                    </div>
                    <!-- archer -->
                    <div v-if="cl == 3">
                        <input type="checkbox" id="ar1" value="ar1" v-model="perk2"><label class="clickLabel" for="ar1"><img
                                src="images/ar1.jpg" alt="Precision Shot"></label>
                        <input type="checkbox" id="ar2" value="ar2" v-model="perk2"><label class="clickLabel" for="ar2"><img
                                src="images/as2.jpg" alt="Opportune Strike"></label>
                        <input type="checkbox" id="ar3" value="ar3" v-model="perk2"><label class="clickLabel" for="ar3"><img
                                src="images/ar3.png" alt="Concentration"></label><br><br>
                    </div>
                    <!-- mechanic -->
                    <div v-if="cl == 5">
                        <input type="checkbox" id="me1" value="me1" v-model="perk2"><label class="clickLabel" for="me1"><img
                                src="images/as1.jpg" alt="Target Weakness"></label><br><br>
                    </div>
                    <!-- wizard -->
                    <div v-if="cl == 6">
                        <input type="checkbox" id="wi1" value="wi1" v-model="perk2"><label class="clickLabel" for="wi1"><img
                                src="images/wi1.jpg" alt="Moral Rise"></label>
                        <input type="checkbox" id="wi2" value="wi2" v-model="perk2"><label class="clickLabel" for="wi2"><img
                                src="images/wi2.jpg" alt="Circuit Burst"></label><br><br>
                    </div>
                    <button class="collapsible">Hero skills/perks</button>
                    <div class="content" id="parentcontent">
                        <hero v-for="post in posts" v-bind:key="String(post.ally) + String(post.id)" v-bind:post="post"
                            v-bind:hero="hero" @clicked="onClickChild" @selected="onSelect" @clickedt5="onClickT5"
                            @selectedut="onSelectUT"></hero>
                    </div>
                    <button class="collapsible">PDMG/MDMG AMP</button>
                    <div class="content" id="parentcontent1">
                        <hero2 v-for="post in posts" v-bind:key="String(post.ally) + 'dmg' + String(post.id)" v-bind:post="post"
                            v-bind:hero="hero" @clickeddmg="onClickChildDMG" @selecteddmg="onSelectDMG" @clickedt5dmg="onClickT5DMG"
                            @selectedutdmg="onSelectUTDMG"></hero2>
                    </div>
                    <span class="small">Note: This selection only includes non-skill-exclusive ATK%, CDMG%, Flat ATK
                        buffs, and general DMG AMP effects by
                        skills and perks. Self/Skill-only damage boost buffs and skill-only stats buffs are not included.
                        Some skills effects are not included as well. Please refer to <a href="guide.html" target="_blank">this page</a>
                        for full list and add
                        them in the Additional stats section.</span>
                </div>
            </div>
            <hr>
            <div class="row" id="artifact-container">
                <div class="three columns">
                    Artifact
                </div>
                <div class="three columns">
                    <label for="art_1">ATK</label>
                    <input id="art_1" type="number" v-model="art_1">%
                </div>
                <div class="three columns">
                    <label for="art_2">CDMG</label>
                    <input id="art_2" type="number" v-model="art_2">%
                </div>
                <div class="three columns">
                    <label for="art_3">Creature Mask</label>
                    <input id="art_3" type="number" v-model="art_3">%
                </div>
            </div>
            <hr>

            <div class="row" id="heroscale-container">
                <div class="three columns">Calibrate the auto attack scaling for the first run:</div>
                <div class="three columns">
                    <label for="obs">Observed auto attack damage in dummy</label>
                    <input id="obs" type="number" v-model="obs">
                </div>
                <div class="three columns">
                    <label for="heroscale">Auto attack scaling</label>
                    <span id="heroscale">{{ heroscale * 100 }}%</span>
                </div>
                <div class="three columns"><button v-on:click="calibrate">Calibrate</button></div>
            </div>
            <hr>
            <div class="row" id="skillscale-container">
                <div class="three columns">Skill damage:<br><a href="https://docs.google.com/spreadsheets/d/1QfFyxwEgvIfwIpDXTPu-vD5vI75GQ6Is5NYcMFqUCyk/edit#gid=483914493"
                        target="_blank">LINK</a></div>
                <div class="three columns">
                    <label for="skillbase">Skill Base value</label>
                    <input id="skillbase" type="number" v-model="skillbase">
                </div>
                <div class="three columns">
                    <label for="skillmulti">Skill ATK Multiplier value</label>
                    <input id="skillmulti" type="number" v-model="skillmulti">
                </div>
                <div class="three columns">
                    <label for="skillbook">Skill Book value</label>
                    <input id="skillbook" type="number" v-model="skillbook">%
                </div>
            </div>
            <hr>

            <button class="collapsible">Additional stats</button>
            <div class="content">
                <div class="row">
                    <div class="twelve columns small">
                        Fill in any additional buffs such as guild buffs, skill-only stat buff, and damage boost effects.
                        <a href="guide.html" target="_blank">GUIDE</a>
                    </div>
                </div>
                
                <div v-if="hero == 57" >
                    <div class="row">
                        <div class="three columns">
                                Special cases
                        </div>
                        <div class="nine columns">
                            <button class="collapsible">Lilia S4 ATK%</button>
                            <div class="content">
                                Note: Flat mana/sec from UW does not increase her S4 buff
                                <label for="lilia_gear_mana">Gear total mana/sec</label>
                                <input id="lilia_gear_mana" type="number" v-model="lilia_gear_mana">%
                                <label for="lilia_buff_mana">Mana/sec% buff</label>
                                <input id="lilia_buff_mana" type="number" v-model="lilia_buff_mana">%
                                <label>Additional ATK%: {{ lilia_s4_atk.toFixed(2) }}%</label>
                            </div>
                            <button class="collapsible">Lilia UT3 CDMG%</button>
                            <div class="content">
                                <label for="lilia_ut3_stacks">UT3 Stacks</label>
                                <input id="lilia_ut3_stacks" type="number" v-model="lilia_ut3_stacks">
                                <select class="" id="lilia_ut3_stars" v-model="lilia_ut3_stars">
                                    <option value="0">UT3</option>
                                    <option value="2">0 stars: CDMG 2.0% per stack </option>
                                    <option value="2.4">1 stars: CDMG 2.4% per stack </option>
                                    <option value="2.9">2 stars: CDMG 2.9% per stack </option>
                                    <option value="3.5">3 stars: CDMG 3.5% per stack </option>
                                    <option value="4.2">4 stars: CDMG 4.2% per stack </option>
                                    <option value="5">5 stars: CDMG 5.0% per stack </option>
                                </select>
                                <label>Additional CDMG%: {{ lilia_ut3_cdmg.toFixed(2) }}%</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div v-if="hero == 33" >
                    <div class="row">
                        <div class="three columns">
                                Special cases
                        </div>
                        <div class="nine columns">
                            <button class="collapsible">Nyx T5D ATK%</button>
                            <div class="content">
                                <label for="nyx_stacks">No. of Blade stacks</label>
                                <input id="nyx_stacks" type="number" v-model="nyx_stacks">
                                <label>Additional ATK%: {{ nyx_t5_atk.toFixed(2) }}%</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row" id="flat-atk-container">
                    <div class="three columns">
                        Flat ATK buffs depending on other characters
                        <label>Additional Flat ATK: {{ specialFlat.toFixed(2).toLocaleString('en', {useGrouping:true}) }}</label>
                    </div>
                    <div class="nine columns">
                        <label for="annette_t5d">Annette ATK (From Annette T5D)</label>
                        <input id="annette_t5d" type="number" v-model="annette_t5d">
                        <label for="frey_t5d">Frey ATK (From Frey T5D)</label>
                        <input id="frey_t5d" type="number" v-model="frey_t5d">
                        <label for="priscilla_t5d">Priscilla ATK (From Priscilla T5D & S2)</label>
                        <input id="priscilla_t5d" type="number" v-model="priscilla_t5d">
                        <select class="" id="priscilla_s2_ut" v-model="priscilla_s2_ut">
                            <option value="0">UT2</option>
                            <option value="20">0 stars: ATK Boost increase by 20% </option>
                            <option value="24">1 stars: ATK Boost increase by 24% </option>
                            <option value="29">2 stars: ATK Boost increase by 29% </option>
                            <option value="35">3 stars: ATK Boost increase by 35% </option>
                            <option value="42">4 stars: ATK Boost increase by 42% </option>
                            <option value="50">5 stars: ATK Boost increase by 50% </option>
                        </select>
                        <label for="ricardo_t5d">Ricardo MDEF (From Ricardo T5D)</label>
                        <input id="ricardo_t5d" type="number" v-model="ricardo_t5d">
                        <label for="mediana_s3_base">Mediana ATK (From Mediana S3)</label>
                        <input id="mediana_s3_base" type="number" v-model="mediana_s3_base">
                        <input type="checkbox" id="mediana_s3_l" value="1" v-model="mediana_s3_l"><label class="clickLabel" for="mediana_s3_l">S3 Light: ATK Boost increase by 40%</label>
                    </div>
                </div>
                <hr>
                <div class="row" id="scale-container">
                    <div class="three columns">
                        <label for="scale">DMG Boost</label>
                        <input id="scale" type="number" v-model="scale">%
                    </div>
                    <div class="three columns">
                        <label for="addatk">Additional ATK</label>
                        <input id="addatk" type="number" v-model="addatk">%
                    </div>
                    <div class="three columns">
                        <label for="addcdmg">Additional CDMG</label>
                        <input id="addcdmg" type="number" v-model="addcdmg">%
                    </div>
                    <div class="three columns">
                        <label for="Fa">Additional Flat ATK</label>
                        <input id="Fa" type="number" v-model="Fa">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="twelve columns small">
                        This section is optional as it will not affect the final calculation for ATK/CDMG, however you can
                        use
                        this to judge whether more PEN is better by comparing the final damage.
                    </div>
                </div>
                <div class="row" id="pen-container">
                    <div class="three columns">
                        <label for="enemydef">Enemy DEF</label>
                        <input id="enemydef" type="number" v-model="enemydef">
                    </div>
                    <div class="three columns">
                        <label for="defshred">DEF Shred</label>
                        <input id="defshred" type="number" v-model="defshred">
                    </div>
                    <div class="three columns">
                        <label for="defdownperc">DEF% Debuff</label>
                        <input id="defdownperc" type="number" v-model="defdownperc">%
                    </div>
                    <div class="three columns">
                        <label for="pen">Total PEN value</label>
                        <input id="pen" type="number" v-model="pen">
                        <br><span>Effective PEN: {{effpen}}</span>%
                    </div>
                </div>
            </div>
            <hr>

            <div class="row" id="result-container">
                <button v-on:click="alert" href="#popup1" class="current">Calculate</button>
            </div>
            <hr>

            <div id="result" class="overlay">
                <div class="popup">
                    <a class="close" v-on:click="closeAlert">&times;</a>
                    <h4>Result</h4>
                    <div class="popupcontent">
                        <table class="">
                            <tbody>
                                <tr>
                                    <td>Optimum setup for auto-attack-focused build is</td>
                                    <td>
                                        <code>{{m}} CDMG lines</code><br>
                                        <code>{{n}} ATK lines</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Optimum setup for skill-focused build is</td>
                                    <td>
                                        <code>{{skillm}} CDMG lines</code><br>
                                        <code>{{skilln}} ATK lines</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>ATK% increase from gears: </td>
                                    <td><code>{{ Math.round(Number(R1) + Number(b*n)*100).toLocaleString('en', {useGrouping:true}) }}%</code></td>
                                </tr>
                                <tr>
                                    <td>ATK% from buffs (multiplied with ATK% from gears):</td>
                                    <td>100% + <code>{{ (BATK - 100).toLocaleString('en', {useGrouping:true}) }}%</code></td>
                                </tr>
                                <tr>
                                    <td>CDMG% increase: </td>
                                    <td><code>{{ (Math.round(Number(BCd) + Number(a*m)*100) - 200).toLocaleString('en', {useGrouping:true}) }}%</code></td>
                                </tr>
                                <tr>
                                    <td>Flat ATK boost: </td>
                                    <td><code>{{ BFa.toLocaleString('en', {useGrouping:true}) }}</code></td>
                                </tr>
                                <tr>
                                    <td><strong>Optimum stat page value</strong></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>ATK: </td>
                                    <td><code>{{ Math.round(OA*(n*b + Number(R1)/100 + Number(1))).toLocaleString('en', {useGrouping:true}) }}</code></td>
                                </tr>
                                <tr>
                                    <td>CDMG: </td>
                                    <td><code>{{ Math.round(BCd - Number(art_2) - Number(skillcdmg) - Number(perkcdmg) - Number(addcdmg) - 200 + m*a*100).toLocaleString('en', {useGrouping:true})}}%</code></td>
                                </tr>
                                <tr>
                                    <td>Auto attack final damage value:</td>
                                    <td><code>{{f.toLocaleString('en', {useGrouping:true})}}</code></td>
                                </tr>
                                <tr>
                                    <td>Skill final damage value:</td>
                                    <td><code>{{skillf.toLocaleString('en', {useGrouping:true})}}</code></td>
                                </tr>
                                <tr>
                                    <td><strong>After DEF reduction</strong></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Reduction due to DEF after PEN:</td>
                                    <td><code>{{ -((1-defreduce)*100).toFixed(2) }}%</code></td>
                                </tr>
                                <tr>
                                    <td>Auto Attack final damage value:</td>
                                    <td><code>{{Math.round(f*defreduce).toLocaleString('en', {useGrouping:true})}}</code></td>
                                </tr>
                                <tr>
                                    <td>Skill final damage value:</td>
                                    <td><code>{{Math.round(skillf*defreduce).toLocaleString('en', {useGrouping:true})}}</code></td>
                                </tr>
                                <tr>
                                    <td><strong>Compare damage</strong></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Your current no. of ATK lines:</td>
                                    <td><input type="number" v-model="currentatk"></td>
                                </tr>
                                <tr>
                                    <td>Your current no. of CDMG lines:</td>
                                    <td><input type="number" v-model="currentcdmg"></td>
                                </tr>
                                <tr>
                                    <td>Current Auto Attack damage: </td>
                                    <td><code>{{ currentf.toLocaleString('en', {useGrouping:true}) }}</code> <span v-bind:class="textColor">({{ ((currentf - pref)/pref*100).toFixed(2) }}%)</span></td>
                                </tr>
                                <tr>
                                    <td>Current Skill damage: </td>
                                    <td><code>{{ currentskillf.toLocaleString('en', {useGrouping:true}) }}</code> <span v-bind:class="skillTextColor">({{ ((currentskillf - skillf)/skillf*100).toFixed(2) }}%)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="tester" class="graph">
            Graph of Auto Attack Damage/no. of cdmg lines
        </div>
        <hr>
        <div id="skilltester" class="graph">
            Graph of Skill Damage/no. of cdmg lines
        </div>
    </div>
    <hr>

    <!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="js/skill-component.js"></script>
    <script src="js/custom.js"></script>
    <script>
        TESTER = document.getElementById('tester');
        Plotly.plot(TESTER, [{
            x: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
            y: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }], {
                margin: { t: 0 }
            });
        SKILLTESTER = document.getElementById('skilltester');
        Plotly.plot(SKILLTESTER, [{
            x: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
            y: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }], {
                margin: { t: 0 }
            });
    </script>
</body>

</html>