<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Kiseki - Damage Calculator</title>
    <meta name="description" content="Damage calculator">
    <meta name="author" content="sagiri">

    <!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet">

    <!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

    <!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Vue JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://unpkg.com/vue"></script>

    <style>
        .ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        .li {
            float: left;
        }
        
        .li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        /* Change the link color to #111 (black) on hover */
        
        .li a:hover {
            background-color: #111;
        }
        
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }
        
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 240px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -120px;
        }
        
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
        
        .showhide-enter-active,
        .showhide-leave-active {
            transition: all .3s ease;
            height: 100px;
            overflow: hidden;
        }
        
        .showhide-enter,
        .showhide-leave-to {
            height: 0;
            opacity: 0;
        }
        
        label {
            font-weight: normal;
            display: inline-block;
            text-align: center;
            margin-bottom: 0;
            width: 40px;
            height: 30px;
        }
        
        input[type="radio"] {
            display: none;
        }
        
        input[type="radio"]:checked+label {
            background-color: #DCDCDC;
        }

        input[type="checkbox"] {
            display: none;
        }
        
        input[type="checkbox"]:checked+label {
            background-color: #DCDCDC;
        }
        
        .btn-group label {
            border: 1px solid #D3D3D3;
            cursor: pointer;
            float: left;
        }
        
        .btn-group label.first {
            border-radius: 4px 0 0 4px;
        }
        
        .btn-group label.last {
            border-radius: 0 4px 4px 0;
            border-right: 1px solid #D3D3D3!important;
        }

        .btn-group label.one {
            border-radius: 4px 4px 4px 4px;
            border-right: 1px solid #D3D3D3!important;
        }
        
        .btn-group label:not(:last-child) {
            border-right: none;
        }
        
        .btn-group:after {
            content: "";
            clear: both;
            display: table;
        }
        
        .btn-group label:hover {
            box-shadow: 1px 2px 3px 0px #808080;
        }
    </style>

</head>

<body>
    <div class="nav-bar">
        <ul class="ul">
            <li class="li active"><a href="data/index.html">SW stuff</a></li>
        </ul>
    </div>
    <!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container" id="app">
        <div class="row">
            <h4>Damage calculator</h4>
            <h6>Calculates the real damage per hit. <br> 
                <code>Damage = [(Stat-menu-atk x gear-atk% x perk-&-skill-%atk-buff) + flat-atk-buff] x (2 + base-cdmg + cdmg-buff + gear-cdmg) x atk-type</code> <br>
                Since it doesn't calculate penetration, it is only accurate for 0 def enemies such as training dummy for now.
            </h6>
            <table class="u-full-width" id="calc">
                <tbody>
                    <tr>
                        <td class="">Choose your class</td>
                        <td class="btn-group">
                            <input type="radio" name="cl" v-model="cl" value="1" id="kn"><label for="kn" class="first"><img src="images/20px-KnightsIcon.png" alt="Knight"></label>
                            <input type="radio" name="cl" v-model="cl" value="2" id="wa"><label for="wa" class=""><img src="images/20px-WarriorsIcon.png" alt="Warrior"></label>
                            <input type="radio" name="cl" v-model="cl" value="4" id="as"><label for="as" class=""><img src="images/20px-AssassinsIcon.png" alt="Assassin"></label>
                            <input type="radio" name="cl" v-model="cl" value="3" id="ar"><label for="ar" class=""><img src="images/20px-ArchersIcon.png" alt="Archer"></label>
                            <input type="radio" name="cl" v-model="cl" value="5" id="me"><label for="me" class=""><img src="images/20px-MechanicsIcon.png" alt="Mechanic"></label>
                            <input type="radio" name="cl" v-model="cl" value="6" id="wi"><label for="wi" class=""><img src="images/20px-WizardsIcon.png" alt="Wizard"></label>
                            <input type="radio" name="cl" v-model="cl" value="7" id="pr"><label for="pr" class="last"><img src="images/20px-PriestsIcon.png" alt="Priest"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>Gear tier</td>
                        <td class="btn-group">
                            <input type="radio" name="tier" v-model="tier" value="6" id="f6"><label for="f6" class="first">6</label>
                            <input type="radio" name="tier" v-model="tier" value="7" id="f7"><label for="f7" class="">7</label>
                            <input type="radio" name="tier" v-model="tier" value="8" id="f8"><label for="f8" class="last">8</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="">UW stars</td>
                        <td class="btn-group">
                            <input type="radio" name="star" v-model="star" value="0" id="0s"><label for="0s" class="first">0</label>
                            <input type="radio" name="star" v-model="star" value="1" id="1s"><label for="1s" class="">1</label>
                            <input type="radio" name="star" v-model="star" value="2" id="2s"><label for="2s" class="">2</label>
                            <input type="radio" name="star" v-model="star" value="3" id="3s"><label for="3s" class="">3</label>
                            <input type="radio" name="star" v-model="star" value="4" id="4s"><label for="4s" class="">4</label>
                            <input type="radio" name="star" v-model="star" value="5" id="5s"><label for="5s" class="last">5</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="">Wearing earrings?</td>
                        <td class="btn-group">
                            <input type="radio" name="ear" v-model="ear" value="y" id="yes"><label for="yes" class="first">Yes</label>
                            <input type="radio" name="ear" v-model="ear" value="n" id="no"><label for="no" class="last">No</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="">Number of atk lines (in main gear)</td>
                        <td><input type="number" v-model="n">
                        </td>
                    </tr>
                    <tr>
                        <td class="">Number of cdmg lines (in main gear)</td>
                        <td><input type="number" v-model="m">
                        </td>
                    </tr>
                    <tr>
                        <td class="">% Atk <br> Runes + Enchant options + UT options</td>
                        <td><input type="number" v-model="R1"> %
                        </td>
                    </tr>
                    <tr>
                        <td class="">Crit dmg <br> Runes + Enchant options + UT options</td>
                        <td><input type="number" v-model="R2"> %
                        </td>
                    </tr>
                    <tr>
                        <td class="">Perks</td>
                        <td class="btn-group">
                            <!-- common -->
                            <input type="checkbox" id="t1" value="" v-model="perk1"><label for="t1" class="one"><img src="images/t1atk.jpg" alt="Knight"></label><br><br>
                            <!-- warrior -->
                            <div v-if="cl == 2">
                                <input type="checkbox" id="wa1" value="wa1" v-model="perk2"><label for="wa1" class="first"><img src="images/as2.jpg" alt="Opportune Strike"></label>
                                <input type="checkbox" id="wa2" value="wa2" v-model="perk2"><label for="wa2" class=""><img src="images/wa2.jpg" alt="Warlike"></label>
                                <input type="checkbox" id="wa3" value="wa3" v-model="perk2"><label for="wa3" class="last"><img src="images/wa3.jpg" alt="Offensive Guard"></label><br><br>
                                <span v-if="perk2.includes('wa2')">Number of enemies: <input type="number" v-model="wa2"><br></span>
                                <span v-if="perk2.includes('wa3')">Flat attack from def: <input type="number" v-model="wa3"><br></span>
                            </div>
                            <!-- assassin -->
                            <div v-if="cl == 4">
                                <input type="checkbox" id="as1" value="as1" v-model="perk2"><label for="as1" class="first"><img src="images/as1.jpg" alt="Target Weakness"></label>
                                <input type="checkbox" id="as2" value="as2" v-model="perk2"><label for="as2" class="last"><img src="images/as2.jpg" alt="Opportune Strike"></label><br><br>
                            </div>
                            <!-- archer -->
                            <div v-if="cl == 3">
                                <input type="checkbox" id="ar1" value="ar1" v-model="perk2"><label for="ar1" class="first"><img src="images/ar1.jpg" alt="Precision Shot"></label>
                                <input type="checkbox" id="ar2" value="ar2" v-model="perk2"><label for="ar2" class="last"><img src="images/as2.jpg" alt="Opportune Strike"></label><br><br>
                            </div>
                            <!-- mechanic -->
                            <div v-if="cl == 5">
                                <input type="checkbox" id="me1" value="me1" v-model="perk2"><label for="me1" class="one"><img src="images/as1.jpg" alt="Target Weakness"></label><br><br>
                            </div>
                            <!-- wizard -->
                            <div v-if="cl == 6">
                                <input type="checkbox" id="wi1" value="wi1" v-model="perk2"><label for="wi1" class="first"><img src="images/wi1.jpg" alt="Moral Rise"></label>
                                <input type="checkbox" id="wi2" value="wi2" v-model="perk2"><label for="wi2" class="last"><img src="images/wi2.jpg" alt="Circuit Burst"></label><br><br>
                            </div>
                            <input type="checkbox" id="t5" value="" v-model="perk5"><label for="t5" class="one"><img src="images/t5l.jpg" alt="T5L"></label><br><br>
                            
                            <span v-if="perk5">Additional T5 Light effect<br>
                                Atk: <input type="number" v-model="perk5a"> % <br>
                                Cdmg: <input type="number" v-model="perk5c"> %
                            </span>
                            
                            <br><input type="checkbox" id="other" value="" v-model="other"><label for="other" class="one">More?</label><br><br>
                            <span v-if="other">
                                Other perks with atk%: <input type="number" v-model="operka"> % <br>
                                Other perks with cdmg%: <input type="number" v-model="operkc"> %
                            </span>
                            </td>
                        </td>
                    </tr>
                    <tr >
                    </tr>
                    <tr>
                        <td class="">% Atk from other sources <br>
                            Buffs + Skills + Artifacts (excluding masks) + UW effect + UT effect</td>
                        <td><input type="number" v-model="ATK"> %
                        </td>
                    </tr>
                    <tr>
                        <td class="">Crit Dmg from other sources <br>
                            Buffs + Skills + Artifacts (excluding masks) + UW effect + UT effect</td>
                        <td><input type="number" v-model="Cd"> %
                        </td>
                    </tr>
                    <tr>
                        <td class="">Flat Attack Buff <br>
                            Buffs + Skills + Artifacts (excluding masks) + UW effect + UT effect</td>
                        <td><input type="number" v-model="Fa">
                        </td>
                    </tr>
                    <tr>
                        <td class="">Attack Type Modifier <br>Calibrate on first run using this formula <code>Attack Type Modifier = Real damage observed / current Final damage value </code></td>
                        <td><input type="number" v-model="T"> %
                        </td>
                    </tr>

                    <tr>
                        <td>Result</td>
                        <td>
                            Number of atk lines: <code>{{n}}</code> <br>
                            Number of crit damage lines: <code>{{m}}</code> <br><br>

                            <strong>Perk/skill/buff/artifact</strong> <br>
                            Additional % Atk: <code>{{ Math.round(BATK) - 100 }}%</code> <br>
                            Crit Damage: <code>{{ Math.round(Number(Cd) + Number(perkc) + Number(operkc)) }}%</code> <br>
                            Flat Attack boost: <code>{{ BFa }}</code><br><br>

                            <strong>Stat page value</strong> <br>
                            Atk: <code>{{ Math.round(OA*(n*b + Number(R1)/100 + Number(1))) }}</code> <br>
                            Cdmg: <code>{{ Math.round(BCd-Cd-200-perkc-operkc + m*a*100)}}%</code> <br><br>

                            Total Atk Modifier: <code>{{ Math.round(OA*(n*b + Number(R1)/100 + Number(1))) }} x {{ BATK }}% + {{ BFa }} = 
                                {{ Math.round(OA*(n*b + Number(R1)/100 + Number(1))) * BATK/100 + Number(BFa) }}
                            </code> <br>
                            Total Crit Damage (include default 200% crit damage multiplier): <code>{{ Math.round(Number(BCd) + m*a*100) }}%</code> <br><br>
                            <strong>Final damage value:</strong> <code>{{f}}</code> <br>
                        </td>
                    </tr>
                    <tr><td></td>
                        <td><a href="" class="button button-primary">Reset</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
        </div>

        <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

        <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
    </div>

    <!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                perk1: false,
                perk5: false,
                wa2: 0,
                wa3: 0,
                other: false,
                perk5a: 0,
                perk5c: 0,
                operka: 0,
                operkc: 0,
                perk2: [],
                tier: 8,
                n: 0,
                m: 0,
                star: 0,
                cl: 1,
                ear: 'y',
                R1: 0,
                R2: 0,
                ATK: 0,
                T: 100,
                Cd: 0,
                Fa: 0
            },
            computed: {
                earring: function(){
                    if(this.tier == 8){
                        return 23702
                    } else if(this.tier == 7){
                        return 18926
                    } else {
                        return 13291
                    }
                },
                base: function(){
                    if(this.cl == 1){
                        return 17632
                    } else if(this.cl == 2){
                        return 20032
                    } else if(this.cl == 3){
                        return 24824
                    } else if(this.cl == 4){
                        return 21992
                    } else if(this.cl == 5){
                        return 22648
                    } else if(this.cl == 6){
                        return 26128
                    } else {
                        return 20688
                    }
                },
                uw: function(){
                    if(this.cl == 1){
                        if(this.star == 0){
                            return 38484
                        } else if(this.star == 1){
                            return 42332
                        } else if(this.star == 2){
                            return 50029
                        } else if(this.star == 3){
                            return 61574
                        } else if(this.star == 4){
                            return 76968
                        } else {
                            return 96209
                        }
                    } else if(this.cl == 2){
                        if(this.star == 0){
                            return 43615
                        } else if(this.star == 1){
                            return 47976
                        } else if(this.star == 2){
                            return 56699
                        } else if(this.star == 3){
                            return 69784
                        } else if(this.star == 4){
                            return 87230
                        } else {
                            return 109037
                        }
                    } else if(this.cl == 3){
                        if(this.star == 0){
                            return 53976
                        } else if(this.star == 1){
                            return 59373
                        } else if(this.star == 2){
                            return 70169
                        } else if(this.star == 3){
                            return 86362
                        } else if(this.star == 4){
                            return 107952
                        } else {
                            return 134940
                        }
                    } else if(this.cl == 4){
                        if(this.star == 0){
                            return 47957
                        } else if(this.star == 1){
                            return 52752
                        } else if(this.star == 2){
                            return 62344
                        } else if(this.star == 3){
                            return 76731
                        } else if(this.star == 4){
                            return 95914
                        } else {
                            return 119892
                        }
                    } else if(this.cl == 5){
                        if(this.star == 0){
                            return 49239
                        } else if(this.star == 1){
                            return 54163
                        } else if(this.star == 2){
                            return 64011
                        } else if(this.star == 3){
                            return 78783
                        } else if(this.star == 4){
                            return 98479
                        } else {
                            return 123099
                        }
                    } else if(this.cl == 6){
                        if(this.star == 0){
                            return 50325
                        } else if(this.star == 1){
                            return 55357
                        } else if(this.star == 2){
                            return 65422
                        } else if(this.star == 3){
                            return 80520
                        } else if(this.star == 4){
                            return 100650
                        } else {
                            return 125812
                        }
                    } else {
                        if(this.star == 0){
                            return 50325
                        } else if(this.star == 1){
                            return 55357
                        } else if(this.star == 2){
                            return 65422
                        } else if(this.star == 3){
                            return 80520
                        } else if(this.star == 4){
                            return 100650
                        } else {
                            return 125812
                        }
                    }
                },
                OA: function(){
                    result = Number(this.uw) + Number(this.base)
                    if (this.ear == 'y'){
                        result = Number(result) + Number(this.earring)
                        return result
                    } else {
                        return result
                    }
                },
                a: function(){
                    if(this.tier == 8){
                        return 0.24
                    } else if(this.tier == 7){
                        return 0.22
                    } else {
                        return 0.20
                    }
                },
                b: function(){
                    if(this.tier == 8){
                        return 0.12
                    } else if(this.tier == 7){
                        return 0.11
                    } else {
                        return 0.10
                    }
                },
                A: function() {
                    return (this.T/100*this.OA*this.BATK/100)
                },
                BFa: function(){
                    if (this.cl == 2 && this.perk2.includes("wa3")){
                        x = Number(this.Fa) + Number(this.wa3)
                    } else {
                        x = this.Fa
                    }
                    return x
                },
                perka: function(){
                    x = 0
                    if (this.perk1){
                        x = Number(x) + Number(30)
                    }
                    if (this.perk5){
                        x = Number(x) + Number(15) + Number(this.perk5a)
                    }
                    if (this.cl == 2 && this.perk2.includes("wa2")){
                        x = Number(x) + Number(this.wa2)
                    }
                    if (this.cl == 4 && this.perk2.includes("as1")){
                        x = Number(x) + Number(20)
                    }
                    if (this.cl == 3 && this.perk2.includes("ar1")){
                        x = Number(x) + Number(20)
                    }
                    if (this.cl == 5 && this.perk2.includes("me1")){
                        x = Number(x) + Number(20)
                    }
                    if (this.cl == 6 && this.perk2.includes("wi1")){
                        x = Number(x) + Number(15)
                    }
                    if (this.cl == 6 && this.perk2.includes("wi2")){
                        x = Number(x) + Number(40)
                    }
                    return x
                },
                perkc: function(){
                    x = 0
                    if (this.perk5){
                        x = Number(x) + Number(this.perk5c)
                    }
                    if (this.cl == 2 && this.perk2.includes("wa1")){
                        x = Number(x) + Number(30)
                    }
                    if (this.cl == 4 && this.perk2.includes("as2")){
                        x = Number(x) + Number(30)
                    }
                    if (this.cl == 3 && this.perk2.includes("ar2")){
                        x = Number(x) + Number(30)
                    }
                    return x
                },
                BATK: function(){
                    return 100 + Number(this.ATK) + Number(this.perka) + Number(this.operka)
                },
                BCd: function() {
                    if (this.cl == 4){
                        x = 30
                    } else if (this.cl == 5){
                        x = 50
                    } else {
                        x = 0
                    }
                    return 200 + Number(this.Cd) + Number(this.R2) + Number(x) + Number(this.perkc) + Number(this.operkc)
                },
                f: function() {
                    return Math.round((this.BCd/100 + this.a*this.m)*(this.A + this.A*this.R1/100 + this.b*this.A*this.n + this.T/100*this.BFa))
                }
            }
        })
    </script>
</body>

</html>